main{
    display: flex;
    justify-content: space-between;
}
header{
    background-color: rgb(171, 255, 198);
    border: 1px solid lightblue;
    border-radius: 5px;
    margin-left: 70px;
    align-items: center;
    display: flex;
    width: 50%;
}
.seccionesheader{
    background-color: rgb(146, 210, 255);
    border: 1px solid rgb(79, 154, 225);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    width: 60%;
}
nav{
    background-color: rgb(171, 255, 198);
    border: 1px solid lightblue;
    border-radius: 5px;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 35%;
    height: 60px;
}
.seccionesnav{
    background-color: rgb(146, 210, 255);
    border: 1px solid rgb(79, 154, 225);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    width: 60%;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
h4{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
article{
    background-color: rgb(210, 235, 247);
    border: 1px solid gray;
    border-radius: 10px;
    height: 400px;
    align-content: center;
    justify-items: center;
    width: 40%;
    margin: auto;
}
.seccionesarticle{
    background-color: rgb(171, 255, 198);
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 40%;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: aliceblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    width: 40%;
    margin-top: 10px;
    margin:auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
